.base{
    width: 100%;
}
#b1ton{
    width: 200px;
    height: 130px;
    background-color: goldenrod; 
    position: absolute;
    top: 200px;
    left:200px; 
}
.entered{
    color:khaki;
    background: #000;

}
.pol{
    background-color: white;
    height: 4px;
    border: 0;
}
.pol1{
    background-color: red;
    height: 4px;
}